<h1>HOME PAGE</h1>

<h1>Articles</h1>

<ol>

    <% all_articles.forEach((article) =>{ %>
    <li>
        <span style="font-weight: bold; font-size: 2vw">
            <%= article.title %>
        </span>
        <%= article.author %>
        <br>
        <p>
            <%= article.body %>
        </p>

    </li>
    <% }); %>
</ol>