<style>
    @media (min-width: 576px) {
        .card-columns {
            column-count: 2;
        }
    }

    @media (min-width: 768px) {
        .card-columns {
            column-count: 3;
        }
    }

    @media (min-width: 992px) {
        .card-columns {
            column-count: 4;
        }
    }

    @media (min-width: 1200px) {
        .card-columns {
            column-count: 3;
        }
    }

    .card {
        background-color: rgb(240, 235, 230);
    }
</style>
<div class="container">
    <h1>Articles</h1>
    <br>


    <div class="card-columns">
        <% all_articles.forEach((article) => { %>

        <div class="card" style="width: 18rem;">
            <div class="card-body">
                <h5 class="card-title">
                    <%= article.title %>
                </h5>
                <h6 class="card-subtitle mb-2 text-muted">
                    <%= article.author %>
                </h6>
                <p class="card-text">Some quick example text to build on the card title and make up the bulk of the
                    card's
                    content.</p>
                <a href="<%= article._id %>" class="card-link">Card link</a>
                <a href="#" class="card-link">Another link</a>
            </div>
        </div>


        <% }); %>

    </div>

</div>