<div class="container">

    <span style="font-weight: bold; font-size: 2vw">
        <%= article.title %>
    </span>
    <%= article.author %>
    <br>
    <p>
        <%= article.body %>
    </p>

</div>